body {
  font-family: system-ui;
  background: white;
  color: black;
  text-align: center;
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: system-ui;
}
nav {
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
